<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estilos_de_Cristina_Lopez.Properties.Settings.BDcreatination"
            connectionString="Dsn=CreatiNationBD" providerName="System.Data.Odbc" />
        <add name="Estilos_de_Cristina_Lopez.Properties.Settings.conexionBD"
            connectionString="Dsn=CreatiNation" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>